<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">

<title>[8] PTR 2023 Hack this site</title>
<link rel="stylesheet" href="s/styleBSidesTheme.css" type="text/css" media="screen">
<link rel="stylesheet" href="s/styleHts.css" type="text/css" media="screen">
<link rel="shortcut icon" type="image/png" href="s/favicon.png"/>
</head>
<body>
    <div class="mainWrap">
        <div class="block txtCenter borderBottom">
            <h1>Hack this site</h1>
            <h2>Poletni tabor računalništva 2023</h2>
        </div>
        <div class="block txtCenter mt4">
            <h1>8. Izziv: /s/flag</h1>
            <p>
                Flag se nahaja na <a href="/s/flag">/s/flag</a>.
            </p>
        </div>
        <div class="block txtCenter mt4">
            <p>
                <form method="POST" autocomplete="off">
                    <input type="text" name="flag" autofocus />
                    <input type="submit" name="submit" value="Preveri" />
                </form>
            </p>
        </div>
        <div class="block txtCenter mt4">
            <p>
                Pa da ne boš žalosten, ker ga ne moreš dobiti, se lahko potolažiš s temi slikami mačk: <br/> <br/>
                <img style="margin: 1em" src="/s/imageoptimizer?url=https://i.pinimg.com/736x/c8/08/0f/c8080f0842275800b1a9268972f7fb03--computer-hacker-computers.jpg" alt="cat1" width="400" />
                <img style="margin: 1em" src="/s/imageoptimizer?url=https://i.pinimg.com/originals/bc/7c/4f/bc7c4fcf9f62964a38a7d4fc6d8f17a2.jpg" alt="cat2" width="400" />
                <img style="margin: 1em" src="/s/imageoptimizer?url=https://www.dexsec.co.uk/content/images/2020/08/hacker-cat.jpg" alt="cat3" width="400" />
            </p>
        </div>
    </div>
</body>
</html>
