<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">

<title>[1] PTR 2023 Hack this site</title>
<link rel="stylesheet" href="s/styleBSidesTheme.css" type="text/css" media="screen">
<link rel="stylesheet" href="s/styleHts.css" type="text/css" media="screen">
<link rel="shortcut icon" type="image/png" href="s/favicon.png"/>
</head>
<body>
    <div class="mainWrap">
        <div class="block txtCenter borderBottom">
            <h1>Hack this site</h1>
            <h2>Poletni tabor računalništva 2023</h2>
        </div>
        <div class="block txtCenter mt4">
            <h1>1. Izziv: Napad na Ameriško vlado</h1>
            <p>
            Davnega leta 2021 se je zgodila grozota na spletnih straneh <!--God--> ameriške vlade. Nepridiprav po imenu
                Josh Renaud je med svojim spletnem brskanjem naletel na osebne podatke o več kot 100.000 učiteljih
                osnovnih in srednjih šol. Vlada je bila šokirana, kako lahko taka navadna oseba, brez znanja o naprednih
                temah računalniške varnosti, izvede tako sofisticiran napad. Ukvarja se namreč s pisanjem novic in je
                temu primerno zaposlen kot preprost novinar. Ameriška vlada ga ni pričakovala in tako mu je uspelo
                pridobiti te podatke brez karkšnekoli sledi, prav tako pa je izvedel napad mimogrede sredi svojega
                delavnika!
            </p>
            <p>
                Kako so ga torej dobili? Sam se je odločil, da jim bo povedal o njihovi varnostni luknji! Kot zaveden
                državljan se je tudi odločil, da bo napako najprej sporočil dostojnem vladnem organu preden javno objavi
                to novico. Vlada se mi je najprej zahvalila in popravila napako, vendar se je po njegovi objavi
                odločila za pregon. Trdili so, da je z izvedbo napada na kritično infrastrukturo in z objavljeno novico
                oškodoval vlado ter vse učitelje. Bolj natančno so povedali:

            </p>
            <p style="margin:0px 100px">
                <!--bless-->
                "They were acting against a state agency to compromise teachers' personal information in an attempt to embarrass the state and sell headlines for their news outlet."
            </p>
            <p>
                Vprašanja še vedno ostajajo enaka. Kako mu je uspelo izvesti tak neverjeten napad? Kakšne moderne
                tehnike je uporabil za pridobitev tako kritičnih informacij? Smo v tem letu, šele 2 leti po rečenem
                napadu, varni pred temi sodobnimi metodami eksfiltracije podatkov? In ali se bo Ameriška vlada sploh
                kdaj upomogla po te kibernetski katastrofi?
            </p>
            <p>
            <a href="https://news.yahoo.com/missouri-governor-calling-criminal-charges-144514828.html" target="_blank">Preberite si več o napadu na te povezavi.<!--America!--></a>
            </p>
        </div>
        <div class="block txtCenter mt4">
            <p>
                <form method="POST" autocomplete="off">
                    <input type="text" name="flag" autofocus />
                    <input type="submit" name="submit" value="Preveri" />
                </form>
            </p>
        </div>
    </div>
</body>
</html>
