<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">
<title>PTR 2023 Hack this site</title>
<link rel="stylesheet" href="s/styleBSidesTheme.css" type="text/css" media="screen">
<link rel="stylesheet" href="s/styleHts.css" type="text/css" media="screen">
<link rel="shortcut icon" type="image/png" href="s/faviconGreen.png"/>
</head>
<body>
    <div class="mainWrap">
        <div class="block txtCenter borderBottom">
            <h1>Hack this site</h1>
            <h2>Poletni tabor računalništva 2023</h2>
        </div>
        <div class="block txtCenter mt4">
            <div id="p1">
                <h3>Zmaga!</h3>
                To, da si tukaj, nam veliko pomeni.
                Hvala za trud in iskrene čestitke!
            </div>
            <div id="p2" class="fade" style="opacity: 0; visibility: hidden;">
                <h3>Dobrodošel v Matrici</h3>
                Pripravljen si, da vidiš splet, takšen, kakršen je.
                Mentroji smo te že težko pričakovali.
                <img src="/s/matrix.gif" class="mt3" />
            </div>
        </div>
    </div>
</body>
</html>
